
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Company Name</th>
            <th>Latest Price</th>
            <th>Shares Traded on IEX</th>
            <th>1D Price Change</th>
            <th>1D Price Change %</th>
        </tr>
    </thead>
    <tbody>
        <tr> 
            <td><%= @stock.symbol %> </td>
            <td><%= @stock.company_name %> </td>
            <td><%= @stock.latest_price %> </td>
            <td><%= @stock.iex_volume %> </td>
            <td><%= @stock.change %> </td>
            <td><%= @stock.change_percent_s %> </td>
        </tr>
    </tbody>
</table>
<p>Current balance: <%= number_to_currency(current_user.balance) %></p>
<%= form_with url: stock_buy_path, method: :post do |form| %>
  <%= form.label :qty, "Quantity:" %>
  <%= form.text_field :buy_qty %>
  <%= form.hidden_field :buy_symbol, value: @stock.symbol %>
  <%= form.submit "Buy", name: nil %>
<% end %>

<%= form_with url: stock_sell_path, method: :post do |form| %>
  <%= form.label :qty, "Quantity:" %>
  <%= form.text_field :sell_qty %>
  <%= form.hidden_field :sell_symbol, value: @stock.symbol %>
  <%= form.submit "Sell", name: nil %>
<% end %>