

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Action</th>
      <th>Stock Name</th>
      <th>Stock Symbol</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Cost</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.transaction_type.upcase %> </td>
        <td><%= transaction.security_name %> </td>
        <td><%= transaction.security_symbol %> </td>
        <td><%= transaction.quantity %> </td>
        <td><%= transaction.security_price %> </td>
        <td><%= transaction.total_security_cost %> </td>
        <td><%= transaction.created_at.strftime("%FT%T") %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<p>Current balance: <%= number_to_currency(current_user.balance) %></p>


